<!DOCTYPE html>
<html lang="en">

<!--Universal requrements start-->

<head>
    <title>insta485</title>
</head>

<body>

    <div>
        <a href="/">
            <img src="/images/logo.jpg" width="300" height="200" alt="" />
        </a>
    </div>
    <div>
        <a href="/explore/">
            Explore
        </a>
    </div>
    <div>
        <a href="/users/{{logname}}/">
            {{logname}}
        </a>
    </div>
    <!--Universal requrements end-->

    {% for f in followers %}
    <img src="{{f.user_img_url}}" alt="" />

    <a href="/users/{{f.username}}/">
        {{f.username}}<br>
    </a>

    {% if logname==f.username %}
    
    {% elif f.logname_follows_username == true %}
    following<br>
    {% else %}
    not following<br>

    {% endif %}

    {% endfor %}


</body>

</html>