<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
</head>

<body>

    <div>
        <a href="/">
            <img src="/images/logo.jpg" width="300" height="200" alt="" />
        </a>
    </div>
    <div>
        <a href="/explore/">
            Explore
        </a>
    </div>
    <div>
        <a href="/users/awdeorio/">
            User
        </a>
    </div>

    <!-- Post 1 -->
    <div class="post">
        <div class="info">
            <div class="user">
                <a href="/users/awdeorio/">
                    <img src="/uploads/e1a7c5c32973862ee15173b0259e3efdb6a391af.jpg" alt="" />
                </a>
                <p class="username">
                    <a href="/users/awdeorio/">awdeorio</a>
                </p>
            </div>
            <div class="timestamp">
                <a href="/posts/3/">
                    10 minutes ago
                </a>
            </div>
        </div>
        <div class="image"><img src="/uploads/9887e06812ef434d291e4936417d125cd594b38a.jpg" alt="" /> </div>
        <div class="likes">
            1 like
        </div>
        <div class="comments">
            <a href="/users/awdeorio/">awdeorio</a>
            #chickensofinstagram<br>
            <a href="/users/jflinn/">jflinn</a>
            I &lt;3 chickens<br>
            <a href="/users/michjc/">michjc</a>
            Cute overload!<br>
        </div>
    </div>

    <!-- Post 2 -->
    <div class="post">
        <div class="info">
            <div class="user">
                <a href="/users/jflinn/">
                    <img src="/uploads/505083b8b56c97429a728b68f31b0b2a089e5113.jpg" alt="" />

                </a>
                <p class="username">
                    <a href="/users/jflinn/">jflinn</a>
                </p>
            </div>
            <div class="timestamp">
                <a href="/posts/2/">
                    4 hours ago
                </a>
            </div>
        </div>
        <div class="image"><img src="/uploads/ad7790405c539894d25ab8dcf0b79eed3341e109.jpg" alt="" /> </div>
        <div class="likes">
            2 likes
        </div>
        <div class="comments">
            <a href="/users/awdeorio/">awdeorio</a>
            Sick #crossword<br>
        </div>
    </div>

    <!-- Post 3 -->
    <div class="post">
        <div class="info">
            <div class="user">
                <a href="/users/awdeorio/">
                    <img src="/uploads/e1a7c5c32973862ee15173b0259e3efdb6a391af.jpg" alt="" />
                </a>
                <p class="username">
                    <a href="/users/awdeorio/">awdeorio</a>
                </p>
            </div>
            <div class="timestamp">
                <a href="/posts/1/">
                    a day ago
                </a>
            </div>
        </div>
        <div class="image"><img src="/uploads/122a7d27ca1d7420a1072f695d9290fad4501a41.jpg" alt="" /> </div>
        <div class="likes">
            3 likes
        </div>
        <div class="comments">
            <a href="/users/jflinn/">jflinn</a>
            Walking the plank #chickensofinstagram<br>
            <a href="/users/awdeorio/">awdeorio</a>
            This was after trying to teach them to do a #crossword<br>
        </div>
    </div>



</body>

</html>