<!DOCTYPE html>
<html lang="en">

<!--Universal requrements start-->

<head>
    <title>insta485</title>
</head>

<body>

    <div>
        <a href="/">
            <img src="/images/logo.jpg" width="300" height="200" alt="" />
        </a>
    </div>
    <div>
        <a href="/explore/">
            Explore
        </a>
    </div>
    <div>
        <a href="/users/{{logname}}/">
            {{logname}}
        </a>
    </div>
    <!--Universal requrements end-->


    {{ username }}

    {% if logname == username %}
    {% elif logname_follows_username ==true %}
    not following<br>
    {%else %}
    following<br>
    {% endif %}

    {% if total_posts==1 %}
    {{ total_posts }} post<br>
    {% else %}
    {{ total_posts }} post<br>
    {% endif %}

    {% if followers==1 %}
    <a href src="/users/{{username}}/followers/">
        {{ followers }} follower
    </a>
    {% else %}
    <a href src="/users/{{username}}/followers/">
        {{ followers }} followers
    </a>
    {% endif %}

    <a href src="/users/{{username}}/following/">
        {{ following }} following
    </a>

    {{ fullname }}<br>

    {% for post in posts %}

    <a href="/posts/{{post.postid}}"><img src="{{post.img_url}} " alt="" />
    </a>
    {% endfor %}

</body>

</html>