<!DOCTYPE html>
<html lang="en">

<!--Universal requrements start-->

<head>
    <title>insta485</title>
</head>

<body>

    <div>
        <a href="/">
            <img src="/images/logo.jpg" width="300" height="200" alt="" />
        </a>
    </div>
    <div>
        <a href="/explore/">
            Explore
        </a>
    </div>
    <div>
        <a href="/users/{{logname}}/">
            {{logname}}
        </a>
    </div>
    <!--Universal requrements end-->


    {{ username }}

    {% if logname == username %}

    {% elif logname_follows_username ==true %}
    not following
    {% endif %}

    {% if total_posts==1 %}
    {{ total_posts }} post
    {% else %}
    {{ total_posts }} post
    {% endif %}

    {% if followers==1 %}
    {{ followers }} post
    {% else %}
    {{ followers }} posts
    {% endif %}

    {{ following }} following

    {{ fullname }}

    {% for post in posts %}

    <a href="/posts/{{post.postid}}"><img src="{{post.img_url}} " alt="" />
    </a>
    {% endfor %}
    
</body>

</html>